<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer Doc HTML</title>
</head>
<body>
    <h4>soy un H4</h4>
    <h1>El Titulo de nuestro Documento</h1>
    <h2>Un subtitulo cualquiera</h2>
    <img src="/images/img2.jpg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate assumenda autem architecto a saepe aperiam dicta repellendus accusantium. Neque culpa maxime natus delectus voluptatem asperiores exercitationem ullam in nihil?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci ex beatae autem aliquam distinctio voluptatum accusamus in delectus totam natus sequi dolor eius molestias odio perspiciatis eum illo necessitatibus</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate assumenda autem architecto a saepe aperiam dicta repellendus accusantium. Neque culpa maxime natus delectus voluptatem asperiores exercitationem ullam in nihil?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci ex beatae autem aliquam distinctio voluptatum accusamus in delectus totam natus sequi dolor eius molestias odio perspiciatis eum illo necessitatibus</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <a href="https://www.google.com/">Ir Google</a>
</body>
</html>